<!--
	 @description spring 报表服务配置文件
	 @author yiwenjun
	 @since 2015-07-29
 -->
<beans 	xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:aop="http://www.springframework.org/schema/aop"   
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	
	<bean id="reportResolver" class="org.springframework.web.servlet.view.jasperreports.JasperReportsViewResolver">
        <property name="viewClass" value="org.tpri.report.view.JasperReportsView" />
        <property name="viewNames" value="reports/*" />
        <property name="prefix" value="" />
        <property name="suffix" value=".jasper" />
        <property name="reportDataKey" value="datasource" />
        <property name="order" value="1" />
    </bean>
</beans>