<div id="main-container">
	<div id="conference-form" class="form-horizontal">
		<div class="form-group hidden">
			<label class="col-sm-1 control-label">ID</label>
			<div class="col-sm-10">
				<input id="conferenceId" type="text" class="form-control" value={{id}} />
				<input id="status" type="text" class="form-control" value={{status}} />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label"><span class="bottom-red-line">*</span>工作步骤</label>
			<div id="step-list"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">组织生活</label>
			<div id="format-list"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">工作品牌</label>
			<div id="label-list"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label" ><span class="bottom-red-line">*</span>工作来源</label> 
			{%if userType==1 or userType==2 or userType==3%}
			<div class="col-sm-2" id="source-type-container">
				<label class="radio-inline"> <input type="radio" name="aticle-source" id="party-branch" value="0" > 组织</label>
				<label class="radio-inline"> <input type="radio" name="aticle-source" id="party-member" value="1"> 个人</label>
			</div>
			<div class="col-sm-4">
				<input id="source-name" type="text" class='form-control' value="{{sourceName}}" readonly>
			</div>
			{%else%}
			<div class="col-sm-1" id="source-type-container">
				<label class="radio-inline"> <input type="radio" name="aticle-source" id="party-member" value="1" checked> 个人
				</label>
			</div>
			<div class="col-sm-2">
				<input id="source-name" type="text" class='form-control' value="{{sourceName}}" readonly>
			</div>
			{%endif%}
		</div>
		<div id="secret-container" class="form-group">
			<label class="col-sm-1 control-label"><span class="bottom-red-line">*</span>发布范围</label>
			<div class="col-sm-4">
				<label class="radio-inline"> <input type="radio" name="secretLevel" value="0" checked>组织内部
				</label> <label class="radio-inline"> <input type="radio" name="secretLevel" value="1">本组织和上级
				</label> <label class="radio-inline"> <input type="radio" name="secretLevel" value="2">公开
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label"><span class="bottom-red-line">*</span>工作主题</label>
			<div class="col-sm-11">
				<input id="name" name="name" type="text" class="form-control" value="{{name}}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label"><span class="bottom-red-line">*</span>工作时间</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="occurTime" value="{{getDate(occurTime)}}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})">
			</div>
			<label class="col-sm-1 control-label">工作地点</label>
			<div class="col-sm-5">
				<input id="address" name="address" type="text" class="form-control" value="{{address}}" />
			</div>
			<label class="col-sm-1 control-label">参加人数</label>
			<div class="col-sm-2">
				<input id="attendance" name="attendance" type="text" class="form-control" value="{{attendance}}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">组织者</label>
			<div class="col-sm-11">
				<div class="choose-member-container" style="overflow:auto;">
					<div id="choose-orgnizer-member-list">
						{% for conferenceOrgnizer in conferenceOrgnizers %}
						<div class="member-name">
							<div>
								{{conferenceOrgnizer.userName}}<i class="fa fa-times" title="移除" onclick="ConferenceOrgnizer.removeOrgnizer('{{conferenceOrgnizer.id}}')"></i>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="btn btn-primary btn-xs" style="margin: 5px; height: 30px; font-size: 14px;" onclick="ConferenceOrgnizer.addOrgnizerDialog()">
						<i class="fa fa-plus" style="margin-top: 5px; color: white;"></i>添加
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label"> </label>
			<div class="col-sm-11">
				<div id="choose-orgnizer-list"></div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">参加人员</label>
			<div class="col-sm-11">
				<div class="choose-member-container" style="overflow:auto;">
					<div id="choose-participant-member-list">
						{% for conferenceParticipant in conferenceParticipants %}
						<div class="member-name" userId="{{conferenceParticipant.userId}}">
							<div>
								{{conferenceParticipant.userName}}<i class="fa fa-times" title="移除" onclick="ConferenceParticipants.removeParticipant('{{conferenceParticipant.id}}')"></i>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="btn btn-primary btn-xs" style="margin: 5px; height: 30px; font-size: 14px;" onclick="ConferenceParticipants.addParticipantsDialog()">
						<i class="fa fa-plus" style="margin-top: 5px; color: white;"></i>添加
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label"> </label>
			<div class="col-sm-11">
				<div id="choose-participants-list" style="margin: 20px;"></div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">工作内容</label>
			<div class="col-sm-11">
				<script id=editor-container type="text/plain" style="height: 400px; margin: 10px">{{content}}</script>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">附件</label>
			<div class="col-sm-11">
				<table id="files-container" data-url="com/getFileList" data-side-pagination="server" data-pagination="false">
					<thead>
						<tr>
							<th data-field="id" data-visible="false"></th>
							<th data-field="orderNo" data-align="center" data-width="60">序号</th>
							<th data-field="name" data-formatter="ComFile.nameFormatter">文件名</th>
							<th data-field="id" data-formatter="ComFile.operatorFormatter" data-width="160" data-align="center">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1 control-label">上传文件</label>
			<div class="col-sm-11">
				<input type="file" name="file-upload" id="file-upload" />
				<div id="file-upload-queue"></div>
			</div>
		</div>
		<div class="form-group" style="text-align: center; margin: 30px 0;">
			<a href="javascript:ConferenceEdit.checkSaveUpdateConference('preview')" class="btn btn-default btn-lg" style="font-size: 36px;" title="预览">预览</a>
			<a href="javascript:ConferenceEdit.checkSaveUpdateConference('close')" class="btn btn-default btn-lg" style="font-size: 36px;" title="保存并关闭">保存并关闭</a> 
			<a href="javascript:ConferenceEdit.checkSaveUpdateConference('new')" class="btn btn-default btn-lg" style="font-size: 36px;" title="保存并新建">保存并新建</a> 
			{%if status!=1%}
			<a href="javascript:ConferenceEdit.checkSaveUpdateConference('publish')" class="btn btn-default btn-lg" style="font-size: 36px;">保存并发布</a> 
			{%endif%}
			<a href="javascript:window.close();" class="btn btn-default btn-lg" style="font-size: 36px;" title="关闭">关闭</a>
		</div>
	</div>
</div>