@CHARSET "UTF-8";
/**
	@description 详情页面样式文件
	@author 易文俊
	@since 2015-08-11
**/
#detail-container {
	min-height: 400px;
}
/**************************面包屑*************************/
.location {
	border-bottom: 1px solid #f2f2f5;
	color: #727272;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	margin: 5px auto;
	padding: 12px;
	text-decoration: none;
}

.location a {
	color: #727272;
	text-decoration: none;
}

.content-wrapper {
	margin: 10px 60px;
	padding: 30px;
}

/**************************内容详情*************************/
.detail-title {
	color: #333;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	padding: 20px 0;
}

.detail-info {
	font-size: 18px;
	padding: 20px 0;
	text-align: center;
}

.detail-info .detail-info-item {
	margin-right: 20px;
}

.detail-info-sub-item {
	font-size: 18px;
	padding: 20px 0px;
	text-align: center;
}

.detail-info-sub-item span {
	margin-right: 20px;
}

.detail-content {
	font-size: 16px;
}

.detail-container-left {
	float: left;
	border: 1px dashed #d6d6d6;
	min-Height: 600px;
	overflow: auto;
	width: 20%;
}

.detail-container-right {
	float: right;
	overflow: auto;
	width: 80%;
	padding-left: 5px;
}
/**************************附件*************************/
.images-container {
	margin: 30px 0;
	text-align: center;
}

.images-container img {
	margin: 10px;
}

.detail-files-title {
	font-weight: bold;
	font-size: 18px;
}

.detail-files-container {
	padding: 10px 0;
	font-size: 16px;
	color: #428bca;
}

.detail-files-container a {
	color: #428bca;
}

/**************************表格详情*************************/
.table-detail {
	margin-bottom: 20px;
	font-size: 18px;
}

.table-detail table {
	width: 100%;
}

.table-detail tbody tr {
	border: 1px solid #999;
}

.table-detail tbody tr .right-title {
	font-weight: bold;
	width: 15%;
}

.table-detail tbody tr .left-title {
	font-weight: bold;
	width: 15%;
	border-left: 1px solid #999;
}

.table-detail tbody tr .table-content {
	width: 35%;
}

.table-detail tbody tr td {
	align: left;
	padding: 5px;
}
/************************党务信息详情****************************/
.info-header-party-name {
	text-align: center;
	font-weight: bold;
	font-size: 60px;
}

.info-header-title {
	letter-spacing: 30px;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 60px;
}

.info-header-sub-title {
	padding: 40px 20px;
	margin: 20px 0 40px;
	border-bottom: 2px solid #000;
	font-size: 28px;
	font-weight: bold;
}

.info-header-sub-title .issue-info {
	float: left;
}

.info-header-sub-title .issue-date {
	float: right;
}

.info-footer-link {
	font-size: 24px;
	padding: 10px 50px;
}

.info-footer-title {
	margin: 20px 0;
	font-size: 24px;
	padding: 5px 20px;
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;
}

/**********************评论样式*********************/
.item {
	background: none repeat scroll 0 0 #ffffff;
	border-color: #eaeaea;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 8px rgba(202, 202, 202, 0.3);
	display: block;
	float: left;
	font-family: "microsoft jhenghei", "microsoft yahei";
	font-size: 16px;
	line-height: 30px;
	margin: 5px 0;
	min-height: 60px;
	padding: 15px;
	position: relative;
	width: 100%;
	word-wrap: break-word;
}

.item h3 {
	display: block;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	width: 100%;
	margin: 5px 0;
}

.item p.con {
	border-bottom: 1px dashed #ececec;
	border-top: 1px dashed #ececec;
	color: #555555;
	display: block;
	font-weight: normal;
	line-height: 30px;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 100%;
}

.item h4 {
	display: block;
	padding: 15px 0;
	width: 100%;
}

.item h3 .fr {
	color: #999999;
	float: right;
	font-size: 16px;
	text-align: right;
}

.item h3 .fl {
	color: #363636;
	float: left;
	font-size: 16px;
}

#comment-container {
	border-top: 1px solid #f2f2f5;
	margin: 0 100px;
}

.comment-tips {
	padding: 10px 20px;
}

.comment-text-container {
	margin: 0;
}

.comment-text-container #comment-content {
	width: 100%;
	height: 150px;
	background: none repeat scroll 0 0 #fff;
	border-color: #eee;
	border-style: solid;
	border-width: 5px;
	box-shadow: 0 1px 8px rgba(202, 202, 202, 0.3);
	padding: 10px;
}

.comment-btn-container #submit-btn {
	float: right;
	margin: 20px;
}