@CHARSET "UTF-8";
/**
	@description 管理中心样式文件
	@author 易文俊
	@since 2015-06-03
**/

/***************************用户权限分配弹出框************************/
.user-role-left{
	width:230px;
	height:320px;
	float: left;
	overflow:auto; 
	border:1px solid #949494;
}
.user-role-center{
	border: 1px solid white;
	width:90px;
	height:320px;
	float: left;
}
.user-role-add{
	border: 1px solid white;
	width:84px;
	text-align: center;
	height:30px;
	margin-left:3px;
	margin-top:120px;
	cursor: pointer;
	line-height: 30px;
	background-color: #428bca;
	color: white;
}
.user-role-remove{
	border: 1px solid white;
	width:84px;
	text-align: center;
	height:30px;
	margin-left:3px;
	margin-top:30px;
	cursor: pointer;
	line-height: 30px;
	background-color: #EE4000;
	color: white;
}
.user-role-right{
	border:1px solid #949494;
	width:230px;
	height:320px;
	float: left;
	overflow:auto; 
}
.user-role-left table tr,.user-role-right table tr{
	width: 100%;
	cursor: pointer;
}
.user_role_selected{
	background-color:#7EC0EE;
}
.user_role_click{
	background-color:#7EC0EE;
}
.user-tole-title ul li{
	width: 230px;
	border:1px solid #white;
	float: left;
	color: #666;
}

